@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 240 10% 99%;
    --foreground: 240 10% 3.9%;
    --card: 240 10% 99%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 10% 99%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 261 100% 73%;
    --primary-foreground: 0 0% 6%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 261 100% 95%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 261 100% 73%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 28% 21%;
    --foreground: 0 0% 87.5%;
    --card: 215 28% 15%;
    --card-foreground: 0 0% 87.5%;
    --popover: 215 28% 15%;
    --popover-foreground: 0 0% 87.5%;
    --primary: 261 100% 73.1%;
    --primary-foreground: 0 0% 6.3%;
    --secondary: 215 28% 25%;
    --secondary-foreground: 0 0% 87.5%;
    --muted: 215 28% 25%;
    --muted-foreground: 0 0% 60%;
    --accent: 215 28% 28%;
    --accent-foreground: 0 0% 95.3%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 31%;
    --input: 215 28% 31%;
    --ring: 261 100% 73.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .shiny-white {
    background: linear-gradient(90deg, hsl(var(--foreground)), hsl(var(--primary)), hsl(var(--primary)), hsl(var(--foreground)));
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
  }
  
  .shiny-sec {
    background: linear-gradient(135deg, hsl(var(--primary)) 25%, hsl(var(--accent-foreground)), hsl(var(--primary)) 75%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine-sec 3s linear infinite
  }

  .animate-scroll {
    animation: scroll 150s linear infinite
  }

  .dark body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.025;
    pointer-events: none;
    z-index: -1;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes shine-sec {
  0% {
    background-position: 100% 50%
  }

  30%,
  70% {
    background-position: 0% 50%
  }
}

@keyframes scroll {
  0% {
    transform: translate(0)
  }

  to {
    transform: translate(-50%)
  }
}
